.Footer{
    background-color: rgb(3,37,65);
    padding: 20px 0px;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    color: white;
}

.Footer li{
    display: inline-block;
    padding: 0px 30px;
}

.Footer a{
    color: rgb(200, 200, 200);
    text-decoration: none;
    padding: 0px 10px;
}

.redSocial{
    float: right;
}

@media only screen and (max-width: 900px){
    .Footer{
        padding: 20px 0px;
        font-size: 15px;
        text-align: center;
    }

    .Footer li{
        display: inline-block;
        padding: 10px;
    }

    .redSocial{
        float: none;
    }

}

@media only screen and (max-width: 500px){
    
    .Footer ul{
        margin-left: -30px;
    }

    .Footer li{
        display: inline-block;
        padding: 10px 10px;
    }

    .Footer a{
        padding: 0px 2px;
    }
}



