.contenedorPrincipalBusqueda{
    border: 5px solid rgb(218, 144, 49);
    height: 400px;
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
    display: none;
    flex-wrap: wrap;
    background-color: rgb(16, 17, 24);
    outline: 5px solid rgb(16, 17, 24) ;
}

.contedorCardBusqueda{
    background-color: rgb(16, 17, 24);
    margin: auto;
    height: 400px;
}

